<div class="nav">
    <a id="home" href="/"><button>Home!</button></a>
    <a id="assassin" href="/assassin"><button>Assassins!</button></a>
    <a id="contract" href="/contract"><button>Contracts!</button></a>
</div>